@media (min-width:320px) and (max-width:767px) {
	.inner-page-banner .banner-content {
		width: 100%;
		padding: 40px 0 110px;
	}
	.about-us .myTherapy h1 span {
		font-size: 40px;
		text-transform: capitalize;
	}
	.about-us .match .video-sec::after {
		width: 50px;
		height: 50px;
		box-shadow: 0px 0px 50px 10px rgba(0, 183, 213, 1);
	}
	.team .team-main {
		margin-bottom: 30px;
	}
	.team h2 {
		font-size: 40px;
	}
	.team-main .col-lg-6.col-sm-12 {
		margin: 0 0 30px;
	}
	.btn-menu ul {
		margin: auto;
		display: table;
		float: none;
	}
	.btn-menu ul li:first-child button.btn {
		margin-left: 0;
	}
	.main-top-banner .img-fluid {
		width: 70%;
		margin: 20px auto;
		display: table;
	}
	.main-top-banner .logo-g {
    display: none;
}
	.match .work {
		width: 100%;
		padding: 0 0;
	}
	.for-therapists,
	.for-members {
		width: 350px;
		margin: auto;
		text-align: center;
		background: #00b7d5;
		border-radius: 150px;
		border-bottom-right-radius: 1px;
		padding: 20px 0;
	}
	.for-therapists h2,
	.for-members h2 {
		color: #fff;
		font-size: 30px;
		letter-spacing: 2px;
	}
	.banner-content .btn {
		padding: 10px 0px 10px 0px;
		width: 160px;
		font-size: 13px;
	}
	.register .banner-content .btn {
		padding: 7px 0px 7px 0px;
		width: 150px;
		font-size: 14px;
	}
	.register .banner-content {
		width: 100%;
		padding: 50px 0;
	}
	.for-members {
		background: #999999;
		margin: 30px auto 0 !important;
	}
	.contact-main button {
		margin: 30px 0 20px;
	}
	.blog-detail .match {
		background: none;
		padding: 60px 0;
	}
	.accordian-main h1 {
		font-size: 40px;
	}
	.accordian-main .accordion_head,
	.accordian-main .accordion_head_2 {
		font-size: 20px;
	}
	.accordian-main .accordion_body p,
	.accordian-main .accordion_body_2 p {
		font-size: 18px;
	}
	.pricing h1,
	.contact-main h1 {
		font-size: 40px;
	}
	.myTherapy {
		width: 100%;
		padding: 50px 0px;
	}
	.match,
	.licensed,
	.work,
	.testimonial,
	.accordian-main,
	.contact-main,
	.pricing,
	.team {
		padding: 50px 0px;
	}
	.about-us .myTherapy {
		width: 100%;
		padding: 80px 0px 20px;
	}
	/*User Dashboard*/	
	.profile-view .payment-modal-inner button.con {	
		margin: 30px 0 0 0;	
	}	
	.session-details-bottom .right {	
		margin: 50px 0 0;	
	}	
	.session-details-top .media {	
		flex-direction: column;	
		align-items: flex-start !important;	
	}	
	.u-profile .session-details-top .media .right a.btn-a {	
		margin: 10px 0 0;	
	}	
	.session-details-top .media {	
		flex-direction: column;	
		align-items: flex-start !important;	
	}	
	.therapist-profile .session-details-top.first .left {	
		margin: 20px 0 0;	
	}	
	.u-profile-page .right a.btn-a {	
		margin: 0 15px 15px 0;	
	}	
	.u-profile-page .right {	
		text-align: left !important;	
	}	
	div#DataTables_Table_0_length {	
		margin: 0 auto 15px;	
		display: table;	
		float: none;	
	}	
	div#DataTables_Table_0_filter {	
		margin: auto;	
		display: table;	
		float: none;	
	}	
	div.dataTables_wrapper div.dataTables_paginate {	
		margin: 15px auto 0;	
		float: none;	
		display: table;	
	}	
	.register-main {	
		padding: 50px;	
	}	
	.login-main .login-right {	
		border-radius: 15px;	
	}	
	.login-img {	
		display: none;	
	}	
	.header-top-right .profile-menu .dropdown-menu.show {	
		left: 0 !important;	
		top: 10px !important;	
	}	
	.register-main .new-user p:before,	
	.register-main .new-user p:after {	
		display: none;	
	}
}
		
@media (min-width:320px) and (max-width:480px) {	
	.header-top-right {	
		float: left;	
		width: 100%;	
	}	
	.header-top-right ul.right-main {	
		justify-content: space-between;	
	}	
	.header-top-right .right-main li {	
		padding: 0;	
	}	
}	

@media (min-width:320px) and (max-width:500px) {
	.team-text {
		margin: 30px 0 0px;
	}
	.profile-view .payment-modal-inner {	
		padding: 30px;	
		margin: 0;	
	}	
	.session-details-top {	
		border-bottom: 1px solid #ccc;	
		padding: 50px 0;	
	}	
	.session-details-bottom {	
		padding: 50px 0;	
	}
}

@media (min-width:480px) and (max-width:767px) {
	.price-box {
		box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06) !important;
		border-radius: 20px;
		padding: 50px 40px 50px;
		background: url(../images/bg-grey.png);
		background-repeat: no-repeat;
		background-position: top left;
		margin: 50px 0 0;
		transition-duration: .5s;
		background-size: contain;
	}
	.price-box:hover {
		background-size: contain;
	}
	.price-list ul {
		padding: 0;
		margin: 130px 0 0 !important;
	}
	.price-tag h2 {
		font-size: 50px;
	}
	.main-top-banner .img-fluid {	
		padding: 0;	
		width: 45%;	
		margin: -40px 0 0;	
		float: left;	
	}
}

@media (min-width:768px) and (max-width:999px) {
	.pricing {
		padding: 60px 0;
	}
	.team-main .col-lg-6.col-sm-12 {
		margin: 0 0 30px;
	}
	.team .team-main {
		margin-bottom: 30px;
	}
	.about-us .myTherapy h1 span {
		font-size: 40px;
	}
	.for-therapists,
	.for-members {
		width: 450px;
		margin: auto;
		text-align: center;
		background: #00b7d5;
		border-radius: 150px;
		border-bottom-right-radius: 1px;
		padding: 40px 0;
	}
	.for-therapists h2,
	.for-members h2 {
		color: #fff;
		font-size: 30px;
		letter-spacing: 2px;
	}
	.banner-content .btn {
		padding: 10px 0px 10px 0px;
		width: 200px;
	}
	.register .banner-content {
		width: 100%;
		padding: 50px 0;
	}
	.for-members {
		background: #999999;
		margin: 30px auto 0 !important;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.main-top-banner .img-fluid {
		padding: 0;
		max-width: 150%;
		margin: 20px 0 0;
		width: 150%;
	}
	.contact-info-main h1 {
		font-size: 40px;
		margin: 50px 0 50px;
	}
	.match,
	.licensed,
	.work,
	.testimonial,
	.accordian-main,
	.contact-main,
	.pricing,
	.team {
		padding: 50px 0px;
	}
	.match .work {
		width: 100%;
		padding: 50px 0;
	}
	.therapist-profile .session-details-top.first {	
		padding: 30px 0 50px;	
	}	
	.session-details-bottom .right {	
		margin: 30px 0 0;	
	}	
	.session-details-top .media .media-body .media {	
		flex-direction: column;	
		align-items: flex-start !important;	
	}	
	.session-details-top .media .media-body .media .right a {	
		margin: 15px 0 0;	
	}	
	.u-profile-page .right a.btn-a {	
		margin: 0 15px 15px 0;	
	}	
	.u-profile-page .right {	
		text-align: right;	
	}	
	.my-appointments h1 {	
		font-size: 40px;	
	}	
	.find-therapist .session-details-top {	
		padding: 50px 0;	
	}	
	.find-therapist .session-details-top .media {	
		flex-direction: column;	
	}	
	.find-therapist .session-details-top .media .left {	
		margin: 15px 0 0;	
	}	
	.register-main {	
		padding: 30px;	
	}	
	.therapist-profile .session-details-top.third {	
		padding: 30px 0 0 !important;	
	}	
	.register-main .new-user p:before {	
		left: 35px;	
	}	
	.register-main .new-user p:after {	
		right: 35px;	
	}
}

@media (min-width:992px) and (max-width:1199px) {
	#menu ul li a {
		font-size: 14px;
	}
	.for-therapists,
	.for-members {
		width: 600px;
		padding: 50px 0;
	}
	.about-us .myTherapy {
		padding: 60px 0px;
	}
	.about-us .match {
		padding: 60px 0px;
	}
	.how-it-works .match {
		background-image: url(../images/how-it-works-bg.jpg);
		padding: 0;
	}
	.price-tag h2 {
		font-size: 50px;
	}
	.u-profile-page .right a.btn-a {	
		margin: 0 15px 15px 0;	
	}	
	.u-profile-page .right {	
		text-align: right;	
	}	
	.register-main {	
		padding: 40px;	
	}	
	.therapist-profile .therpaist-info h4 {	
		font-size: 21px;	
	}	
	.register-main .new-user p:before {	
		left: 75px;	
	}	
	.register-main .new-user p:after {	
		right: 75px;	
	}
}

@media (min-width:1200px) {
	#light {
		margin: 0 auto;
	}
}