@media (min-width: 320px) and (max-width: 767px){

.date-input {
    flex-direction: column;
    align-items: flex-start !important;
}

.date-input label {
    text-align: left !important;
    margin: 0 0 10px !important;
}
.u-c-p textarea {
    padding: 10px 25px 10px 25px;
    min-height: auto;
}
.app-content .wizard>.actions>ul>li {
    display: block;
    width: 100%;
    margin: 0 !important;
}

.app-content .wizard>.actions>ul>li.disabled>a[href="#previous"], .app-content .wizard>.actions>ul>li.disabled>a[href="#previous"]:focus, .app-content .wizard>.actions>ul>li.disabled>a[href="#previous"]:hover, .app-content .wizard>.actions>ul>li>a {
    margin: 0 auto 20px !important;
}

.app-content .wizard > .content {
    padding: 0 !important;
    margin: 0;
}

.register-main {
    padding: 50px 30px !important;
}

.login-img {
    display: none;
}

.login-main .login-right {
    border-radius: 15px;
}

.register-main .new-user p:after, .register-main .new-user p:before{
    display: none;
}

.modal .register-main {
    padding: 0 !important;
}

.user .payment-modal-inner button, .user .payment-modal-inner a {

    margin: 10px 10px;
    border: 1px solid #e9e9e9 !important;
    padding: 12px 30px;
    font-size: 14px;
    

}

.pricing .modal-dialog, .modal.pkg-payment .modal-dialog, .t-registration.cat-popup .modal-dialog {
    max-width: 90%;
    margin: 10rem auto !important;
}

.user .pricing .payment-modal-inner {
    padding: 20px;
}

.pkg-payment .pkg-payment-title {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.modal h3 {
    font-size: 25px;
}

.t-registration.cat-popup .search-area button {

    min-width: auto;
}
.t-registration.cat-popup .search-area input {
    padding: 10px 110px 10px 30px
}


.t-registration-thankyou .card.pro-main {
    width: 100% !important;
    margin: auto;
    padding: 50px !important;
}

.t-registration-thankyou h1 {
    font-size: 30px;
}

.t-registration-thankyou h3 {
    font-size: 30px;
}

.t-registration-thankyou p {
    font-size: 18px;
    margin: 15px 0;
}

/*.big-center-cta {
    margin: 20px 0 0 20px;
    padding: 15px 50px;
    display: table;
    min-width: auto;
}*/

.select2-container {
    height: auto;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0px 5px 5px 0 !important;
}

.edit-profile.pricing .pro-main {
    padding: 30px !important;

}

.header-navbar .navbar-header .navbar-brand .brand-logo {
    margin: 15px 0 0;
}

.header-navbar .navbar-header .open-navbar-container i {
    margin: 17px 5px 0 0;
}

i.ft-menu.font-large-1 {
    float: left;
    margin: 30px 0 0 15px;
}

.header-navbar .navbar-header {
    padding: 0;
    height: 9rem;
}

.main-menu.menu-fixed {

    top: 7.5rem;

}

.admin-overview-main .media.home-chart {
    flex-direction: column-reverse;
}

.admin-overview-main  .card-body h5 {
    margin: 20px 0;
}

.view-profile .treatment-orient ul.big-li li {
    width: 100%;
    float: left;
}

.a-edit .btn-group.mt-1 {
    margin: -103px 0 0 !important;
}
.a-edit .select2-container {

    width: 100% !important;
}


.subs-log-filter .col-lg-12.form-group.d-flex.align-items-center {
    flex-direction: column !important;
}

.subs-log-filter label {
    text-align: left;
    
    }

    .package-expire .card-body {
    padding: 20px;
}

div.dataTables_wrapper div.dataTables_length label {
    text-align: center;
        margin: 20px 0 20px !important;
}

.card.rounded.package-expire {
    margin: 10px 0 25px;
}

.change-pass .modal h3 {

    font-size: 33px;
 }



.noti-content .media {
    flex-direction: column;
    align-items: flex-start !important;
}

.all-notifications .noti-content {
    padding: 30px 30px;
}

.all-notifications .noti-content p {
    font-size: 16px;
    margin: 0 0 20px;
}
.all-notifications .noti-content i {

    margin: 0 20px 20px 0 !important;
}

.all-notifications .notification-title {
    padding: 20px 30px;
}

h1 {
    margin-bottom: 20px;
}

.price-box {
    padding: 50px 30px 50px;
}

.pricing .price-box .big-center-cta {
    margin: 20px auto;
    display: table;
}

.card-body.top-card span {
    font-size: 20px;
}
.card-body.top-card h4 {
    font-size: 40px;
}

}

@media (min-width: 320px) and (max-width: 480px){



.admin-overview-main .top-card .media {
    flex-direction: column;
    padding: 20px;
    text-align:     center;
}

.admin-overview-main .top-card .media  .align-self-center {
    align-self: center;
}

.admin-overview-main .top-card .media i {
    margin: 0 !important;
}

.add-user a.user {
    margin: 20px auto 20px;
    float: none;
}

.breadcrumb {
    margin: 20px auto;
}

.big-center-cta {
    margin: 15px 0 !important;
    padding: 15px 20px;
    min-width: 200px;
}


.sess-acc button.big-center-cta {
    margin: 0 0 20px;
    padding: 15px 20px;
    display: table;
    min-width: 100%;
}

.price-box {

    padding: 20px 30px 50px;
}
.price-list ul {
    margin: 70px 0 0;
}

}
@media (min-width: 768px) and (max-width: 991px){

    .u-c-p textarea {
    padding: 10px 25px 10px 25px;
    min-height: auto;
}

    .header-navbar .navbar-container ul.nav li .dropdown-toggle::after {
    margin: 0 0.3em 0 0;
}
.app-content .wizard > .content {
    padding: 0 30px 0 30px;
    margin: 0;
}

.register-main {
    padding: 30px !important;
}

.register-main .new-user p:before {

left: 35px;
}

.register-main .new-user p:after {

right: 35px;
}

.t-registration-thankyou .card.pro-main {
    width: 100% !important;
    margin: auto;
    padding: 50px !important;
}

.t-registration-thankyou p {
    font-size: 20px;
     margin: 20px 0;

}

.t-registration-thankyou h3 {
    font-size: 35px;
}


.pricing .modal-dialog, .modal.pkg-payment .modal-dialog, .t-registration.cat-popup .modal-dialog {
    max-width: 90%;
    margin: 10rem auto !important;
}

.view-profile .treatment-orient ul.big-li li {
    width: 100%;
    float: left;
}

.a-edit .select2-container {

    width: 100% !important;
}

.reschedule .big-center-cta {
    min-width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 15px 20px;
}

.reschedule .mr-20.big-center-cta {
    margin: 0;
}

.login-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.big-center-cta {
    min-width: 200px;
}

.pricing .price-box .big-center-cta {
    margin: 20px auto;
    display: table;
}

.price-box {
    padding: 20px 30px 50px;
}



.view-profile .add-user a.user {
    width: auto;
    min-width: 230px;
}


}

@media (min-width: 992px) and (max-width: 1199px){
    .header-navbar .navbar-container ul.nav li .dropdown-toggle::after {
    margin: 0 0.3em 0 0;
}
.register-main {
    padding: 40px !important;
}

.register-main .new-user p:before {
    left: 70px;
}

.register-main .new-user p:after {

    right: 70px;
    
}

.t-registration-thankyou p {
    font-size: 20px;
    margin: 20px 0;

}

.t-registration-thankyou h3 {
    font-size: 35px;
}

.big-center-cta {
    min-width: 200px;
}

.price-box {
    padding: 15px 30px 50px;
}




}
@media (min-width: 1200px) and (max-width: 1400px){
.card-body.top-card span {
    color: #999999;
    font-size: 20px;
    }
}

