@font-face {
    font-family: 'Conv_Harabara';
    src: url('../fonts/Harabara.eot'),
    url("../fonts/Harabara.woff") format('woff'),
    url('../fonts/Harabara.ttf') format('truetype'),
    url('../fonts/Harabara.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


img {
	max-width: 100%;
	object-fit: cover;
}
p {
	font-family: 'Barlow', sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Conv_Harabara';;
}
html {
	margin: 0px;
	padding: 0px;
}
a:link {
	text-decoration: none;
}
.slicknav_menu .slicknav_menutxt {
	display: none;
}
.banner {
	width: 100%;
	background-image: url(../images/main-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.main-top-banner .img-fluid {
	padding: 0;
	width: 100%;
	margin: 0 0 0;
}
.btn-menu ul {
	float: right;
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 20px 0 0 0 !important;
}
.btn-menu ul li {
	display: inline-block;
	list-style-type: none;
	  border-right: 1px solid #fff;
	
}
.btn-menu ul li a {
	font-family: 'Barlow', sans-serif;
    float: right;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    display: inline-block;
    padding: 0px 10px;
}
.btn-menu ul li:nth-child(4) {
	border-right:none; 
}
.btn-menu ul li a:hover {
	color: #ccc;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
#menu ul {
	text-align: left;
	list-style-type: none;
	margin: 0 0px 0 30px;
	display: inline;
	padding: 0;
}
#menu ul li:last-child {
	padding: 6px 0 6px 6px;
}
#menu ul li.active a {
	color: #00b7d5;
	font-weight: 600;
}
#menu ul li a {
	font-family: 'Barlow', sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	transition: all 0.6s ease 0s;
	letter-spacing: 0.3px;
	font-weight: 500;
}
#menu ul li a:hover {
	text-decoration: none;
	color: #00b7d5;
}
.banner-content {
	width: 100%;
	padding: 200px 0px 500px 0px;
}
.banner-content h1 {
	font-size: 55px;
	color: #FFFFFF;
	float: left;
	text-transform: capitalize;
	letter-spacing: 1.5px;
}
.banner-content p {
	margin: 0px auto;
	padding: 0 0 20px 0;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	float: left;
}
.banner-content .btn {
	padding: 14px 0px 14px 0px;
	font-size: 16px;
	width: 222px;
	color: #00b7d5;
	background: #FFFFFF;
	border-radius: 100px;
	border-top-left-radius: 1px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
.banner-content .btn:hover {
	background: #999999;
	color: #FFFFFF;
	border: 1px solid #fff;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.banner-content i {
	padding: 0px 0px 0px 10px;
}
.myTherapy {
	width: 100%;
	padding: 0px 0px 80px 0px;
}
.myTherapy h2 {
	padding: 0px 0px 0px 0px;
	font-size: 55px;
	color: #333333;
	float: left;
	text-transform: capitalize;
}
.myTherapy h2 span {
	padding: 0px 0px 0px 0px;
	font-size: 55px;
	color: #00b7d5;
	text-transform: capitalize;
}
.myTherapy p {
	margin: 0px auto;
	padding: 0 0 20px 0;
	font-size: 15px;
	line-height: 25px;
	color: #666666;
	float: left;
}
.subTherapy {
	width: 100%;
	padding: 0px 0px 30px 0px;
}
.subTherapy h3 {
	font-family: 'Barlow', sans-serif;
	font-size: 24px;
	color: #00b7d5;
	text-transform: capitalize;
	font-weight: 600;
	line-height: 24px;
}
.subTherapy p {
	font-size: 15px;
	line-height: 20px;
	color: #999999;
	margin: 0;
}
.subTherapy .inner-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0 10px 0 rgb(0, 0, 0, 0.1);
	padding: 15px 30px 20px 40px;
	border-radius: 100px;
	border-top-left-radius: 1px;
	margin: 0 0 15px 0;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	min-height: 136px;
}
.subTherapy .inner-box img {
	transition: 0.8 all ease-in-out;
}
.subTherapy .inner-box:hover {
	box-shadow: 0px 0 10px 0 rgb(0, 183, 213, 0.3);
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.subTherapy .inner-box .img-1 {
	width: 75px;
}
.subTherapy .inner-box:hover img {
	filter: grayscale(1);
}
.licensed {
	width: 100%;
	padding: 80px 0px 80px 0px;
	background: #fafafa;
}
.licensed h2 {
	padding: 0px 0px 0px 0px;
	font-size: 45px;
	color: #333333;
	text-transform: none;
}
.licensed p {
	font-size: 15px;
	line-height: 25px;
	color: #666666;
}
.licensed .btn {
	padding: 12px 11px 12px 12px;
	width: 222px;
	background: #00b7d5;
	border-radius: 100px;
	border-top-left-radius: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 0.5px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
.licensed .btn:hover {
	background: #999999;
	color: #FFFFFF;
	border: 1px solid #ffffff;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.match {
	width: 100%;
	padding: 80px 0px 80px 0px;
	background-image: url(../images/center-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.match h4 {
	padding: 0px 0px 40px 0px;
	font-size: 35px;
	color: #333333;
	text-transform: none;
	text-align: center;
	letter-spacing: 0.5px;
}
.match h5 {
	padding: 0px 0px 0px 0px;
	font-size: 28px;
	color: #ffffff;
	text-transform: none;
	text-align: center;
	position: absolute;
	top: 40%;
	right: 0px;
	left: 0px;
	letter-spacing: 1px;
}
.match .box {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}
.match .box img {
	width: 100%;
	border-radius: 20px;
	transition: 0.5s all ease-in-out;
}
.match .box:hover img {
	opacity: 0.6;
}
.work {
	width: 100%;
	padding: 50px 0;
}
.work h4 {
	color: #333333;
	padding: 0px 0px 40px 0px;
	font-size: 35px;
	text-transform: none;
	text-align: center;
	letter-spacing: 0.5px;
}
.work p {
	text-align: center;
	font-size: 17px;
	line-height: 22px;
	color: #666666;
}
.work h3 {
	text-align: center;
	color: #00b7d6;
	font-size: 25px;
}
.work img {
	display: block;
	margin: 0px auto;
}
.work .image-box {
	position: relative;
}
.work .image-box::after {
	position: absolute;
	background: url(../images/after.png);
	background-repeat: no-repeat;
	content: '';
	width: 239px;
	height: 20px;
	top: 40px;
	right: 0px;
	left: 240px;
}
.signuptoday {
	width: 100%;
}
.signuptoday .bg {
	background: url(../images/My-Therapy-Talk_12.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 80px 0px 80px 0px;
}
.signuptoday .bg1 {
	background: url(../images/My-Therapy-Talk_11.jpg) no-repeat right bottom;
	;
	background-size: cover;
	width: 100%;
	padding: 80px 0px 80px 0px;
}
.signuptoday h2 {
	padding: 0px 0px 0px 0px;
	font-size: 45px;
	color: #ffffff;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 1.5px;
}
.signuptoday p {
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	text-align: center;
	letter-spacing: 0.2px;
	font-family: 'Barlow', sans-serif;
}
.signuptoday .btn {
	padding: 10px 36px;
	font-size: 16px;
	color: #00b7d5;
	background: #ffffff;
	border-radius: 100px;
	border-top-left-radius: 1px;
	text-align: center;
	display: table;
	margin: 0px auto;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	border: 1px solid #fff;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
.signuptoday .btn:hover {
	background: #00b7d5;
	color: #ffffff;
	border: 1px solid #fff;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.signuptoday .btn1 {
	padding: 10px 36px;
	font-size: 16px;
	color: #999999;
	background: #ffffff;
	border-radius: 100px;
	border-top-left-radius: 1px;
	text-align: center;
	display: table;
	margin: 0px auto;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border: 0;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	border: 1px solid #fff;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
.signuptoday .btn1:hover {
	background: #999999;
	color: #ffffff;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.notified {
	width: 100%;
	padding: 50px 0px 50px;
	background: #00b7d5;
}
.notified input[type="email"] {
	background: none;
	font-size: 15px;
	box-sizing: border-box;
	border-radius: 50px;
	border-color: #FFFFFF;
	border-width: 2px;
	padding: 22px 13px 23px 13px;
	color: #fff;
	letter-spacing: 0.5px;
	margin-top: 15px;
	font-family: 'Barlow', sans-serif;
	background-image: none !important;
	box-shadow: none;
}
 .notified::-webkit-input-placeholder {
color:#81e0f0;
}
.notified input:focus {
	box-shadow: none;
	outline: 0
}
 input:-webkit-autofill,  input:-webkit-autofill:hover,  input:-webkit-autofill:focus,  textarea:-webkit-autofill,  textarea:-webkit-autofill:hover,  textarea:-webkit-autofill:focus,  select:-webkit-autofill,  select:-webkit-autofill:hover,  select:-webkit-autofill:focus {
border:1px solid #fff;
-webkit-text-fill-color:#fff;
-webkit-box-shadow:0 0 0px 1000px transparent inset;
transition:background-color 5000s ease-in-out 0s;
box-shadow:none;
outline:0;
}
 .notified::-moz-placeholder {
color:#81e0f0;
}
 .notified:-ms-input-placeholder {
color:#81e0f0;
}
 .notified:-moz-placeholder {
color:#81e0f0;
}
.notified .btn {
	padding: 10px 0px;
	width: 167px;
	background-color: #ffffff;
	border-radius: 100px;
	border-top-left-radius: 1px;
	letter-spacing: 1px;
	color: #00b7d5;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	border: 1px solid #fff;
	font-size: 18px;
}
.notified .btn:hover {
	background: #00b7d5;
	color: #ffffff;
	border: 1px solid #fff;
}
.notified h3 {
	padding: 0px 0px 0px 0px;
	font-size: 35px;
	color: #FFFFFF;
	float: left;
	text-transform: capitalize;
	letter-spacing: 2.9px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.notified p {
	margin: 0px auto;
	padding: 0 0 20px 0;
	font-size: 15px;
	line-height: 25px;
	color: #FFFFFF;
	float: left;
	letter-spacing: 0.9px;
}
.testimonial {
	width: 100%;
	padding: 80px 0px 80px 0px;
	background: #fafafa;
}
.testimonial .item {
	padding: 0px 20px;
}
.testimonial .img-fluid {
	display: none;
	margin: 0px auto;
}
.testimonial h5 {
	font-size: 20px;
	text-transform: capitalize;
	text-align: center;
	color: #333333;
	font-family: 'Barlow', sans-serif;
	font-weight: 1000;
}
.testimonial h6 {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	color: #999999;
	text-align: center;
	font-weight: 100;
}
.testimonial p {
	font-size: 16px;
	line-height: 23px;
	color: #666666;
	text-align: center;
	box-shadow: 0px 0 10px 0 rgb(0, 0, 0, 0.1);
	padding: 30px 20px 30px 20px;
	border-radius: 10px;
}
.footer-bottom {
	padding: 20px 0;
	text-align: center;
	background: #f6f6f6;
}
.footer-bottom p {
	font-size: 15px;
	margin: 0;
	color: #999999;
}
footer {
	background: var(--w);
}
footer .footer-top {
	padding: 40px 0;
}
footer .footer-top p {
	font-size: 14px;
	color: #999999;
	text-transform: capitalize;
}
footer .footer h6 {
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	margin: 30px 0 0 0;
	text-transform: uppercase;
}
footer .footer ul {
	margin: 0;
	padding: 0;
	float: left;
}
footer .footer ul li {
	list-style-type: none;
	margin: 5px 0 0 0;
	font-family: 'Barlow', sans-serif;
	color: #999999;
}
footer .footer ul li a {
	color: #999999;
	text-decoration: none;
}
footer .footer ul li a:hover {
	color: #00b7d5;
}
footer .footer-1 ul {
	margin: 10px 0 0 0;
}
footer .footer-1 ul li {
	float: left;
	padding: 0 3px;
	margin: 0;
}
footer .footer-1 ul li a i {
	width: 23px;
	height: 23px;
	border-radius: 100px;
	background: #cccccc;
	text-align: center;
	line-height: 23px;
	font-size: 13px;
	color: white;
}
footer .footer-4 ul li {
	float: none;
	padding: 2px 3px;
	margin: 0;
}
footer .footer-4 ul li a i {
	width: 23px;
	height: 23px;
	border-radius: 100px;
	background: #cccccc;
	text-align: center;
	line-height: 23px;
	font-size: 13px;
	color: white;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
footer h6 {
	letter-spacing: 0.9px;
}
footer .footer-4 ul li a i:hover {
	background: #00b7d5;
	color: #FFFFFF;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
footer .footer-4 ul.social-icon li {
	float: left;
}
.slicknav_nav a:hover {
	background: #fff;
	color: #00b7d5;
	font-family: 'Barlow', sans-serif;
}
.slicknav_nav ul li {
	font-family: 'Barlow', sans-serif;
}
.slicknav_nav .slicknav_txtnode {
	font-weight: 1000;
}
.inner-page-banner {
	width: 100%;
	background-image: url(../images/about-us-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.inner-page-banner .banner-content {
	width: 100%;
	padding: 155px 0;
}
.about-us .myTherapy h1 span {
	font-size: 55px;
	text-transform: capitalize;
}
.about-us .myTherapy h1 span.blue-text {
	color: #00b7d5;
}
.about-us .myTherapy h1 span.grey-text {
	color: #999999;
}
.about-us .myTherapy {
	width: 100%;
	padding: 80px 0px;
}
.about-us .match {
	padding: 30px 0px;
}
.about-us .match .video-sec {
	position: relative;
}
.about-us .match .video-sec::after {
	content: "";
	background: url(../images/play-btn.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0px;
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 999;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-box-shadow: 0px 0px 140px 55px rgba(0,183,213,1);
	-moz-box-shadow: 0px 0px 140px 55px rgba(0,183,213,1);
	box-shadow: 0px 0px 100px 40px rgba(0,183,213,1);
	border-radius: 50%;
}
.about-us .match .mission-vision h2 {
	color: #333;
	font-size: 45px;
}
.about-us .mission-vision {
	padding: 100px 0 0;
}
.about-us .match .mission-vision p {
	color: #666666;
	font-size: 15px;
}
.mission-vision h3 {
	color: #00b7d6;
}
.about-us .subTherapy {
	padding: 0px 0px 30px 0px;
}
.team {
	padding: 100px 0 50px;
}
.team h2 {
	font-size: 50px;
	color: #333;
	margin: 0 0 50px;
}
.team-text h3 {
	font-size: 25px;
	color: #666666;
	line-height: 20px;
	letter-spacing: 1px;
}
.team-text h3 span {
	color: #00b7d5;
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	letter-spacing: 0px;
}
.team-text p {
	font-size: 18px;
	color: #666666;
	margin: 0;
}
.team .team-main {
	margin-bottom: 100px;
}
.how-it-works .match {
	background-image: url(../images/how-it-works-bg.jpg);
}
.match .work {
	width: 100%;
	padding: 100px 0;
}
.find-out-more.work p {
	font-size: 15px;
}
.register .banner-content {
	width: 100%;
	padding: 100px 0;
}
.for-therapists, .for-members {
	width: 750px;
	margin: auto;
	text-align: center;
	background: #00b7d5;
	border-radius: 150px;
	border-bottom-right-radius: 1px;
	padding: 75px 0;
}
.for-members {
	background: #999999;
	margin: 50px auto 0;
}
.for-therapists h2, .for-members h2 {
	color: #fff;
	font-size: 45px;
	letter-spacing: 2px;
}
.for-members button.btn {
	color: #999;
}
.for-members .btn:hover {
	background: #00b7d5;
}
.contact-main {
	padding: 100px 0;
}
.contact-main h1 {
	font-size: 55px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.contact-main p {
	color: #666666;
	font-size: 17px;
	margin: 0 0 20px;
}
.contact-main label {
	color: #999999;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Barlow', sans-serif;
}
.contact-main label i {
	color: #00b7d5;
	width: 25px;
}
.contact-main input, .contact-main textarea {
	border-radius: 50px;
	height: 50px;
	font-size: 14px;
	color: #999999;
	border: 1px solid #e1e1e1;
	font-family: 'Barlow', sans-serif;
	padding: 0 30px;
	-webkit-appearance: none !important;
	resize: none;
	background-image: none !important;
}
 input[type=number]::-webkit-inner-spin-button,  input[type=number]::-webkit-outer-spin-button {
-webkit-appearance:none;
margin:0;
}
 .contact-main input::placeholder, .contact-main textarea::placeholder {
font-family:'Barlow', sans-serif;
color:#999999;
font-size:14px;
font-weight:400;
}
.contact-main .form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #00b7d5;
	outline: 0;
	box-shadow: none;
}
.contact-main textarea {
	padding: 20px 30px;
	height: 200px;
	border-radius: 30px;
}
.contact-main button {
	padding: 15px 0;
	font-size: 17px;
	width: 300px;
	margin: 30px 0 0;
	background: #00b7d5;
	border-radius: 100px;
	border-top-left-radius: 1px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition-duration: .5s;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	border: none;
	color: #fff;
}
.contact-main button:hover, .contact-main button:focus {
	background: #999;
	outline: 0;
}
.contact-info-main h1 {
	font-size: 40px;
	margin: 0 0 50px;
}
.contact-info ul {
	padding: 0;
	list-style: none;
	display: block;
}
.contact-info ul li {
	color: #333;
	font-weight: 600;
	font-size: 19px;
	font-family: 'Barlow', sans-serif;
	text-transform: uppercase;
	padding: 0 0 20px;
}
.contact-info ul li a {
	color: #666666;
	font-weight: 400;
	font-size: 19px;
	font-family: 'Barlow', sans-serif;
	text-transform: initial;
	transition-duration: .5s;
	margin: 0 0 0 28px;
	display: block;
}
.contact-info ul li i {
	color: #00b7d5;
	width: 25px;
}
.contact-info ul li a:hover {
	color: #00b7d5;
}
.blog-detail .match {
	padding: 100px 0;
	background-image: url(../images/blog-detail-bg.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: bottom right;
}
.blog-detail .mission-vision {
	padding: 50px 0 0;
}
.blog-detail .mission-vision h2 {
	font-size: 40px;
	color: #333;
	margin: 0 0 15px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.blog-detail .mission-vision h3 {
	color: #00b7d5;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 600;
	font-family: 'Barlow', sans-serif;
	margin: 0 0 20px;
}
.blog-detail .mission-vision p {
	color: #666666;
	font-size: 18px;
}
.blog-detail .match .footer-4 ul li {
	float: none;
	padding: 0 5px 0 0;
	margin: 0;
	display: inline-block;
}
.blog-detail .match .footer-4 ul li a i {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background: #cccccc;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: white;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.blog-detail .match .footer-4 ul.social-icon {
	list-style: none;
	padding: 0;
	margin: 0;
}
.blog-detail .match .footer-4 ul li a i:hover {
	background: #00b7d5;
	color: #FFFFFF;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.blog-detail .match .footer-4 h6 {
	font-size: 18px;
	color: #00b7d5;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
.blog .content {
	display: none;
}
.blog .box-text h3 {
	font-size: 30px;
	letter-spacing: 1px;
}
.blog .box-text p {
	font-size: 18px;
	color: #666666;
	margin: 0 0 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 110px;
}
.blog .box-text {
	margin: 0 0 50px;
}
.blog .box-text a, .blog a#loadMore {
	padding: 15px 70px;
	background: #999999;
	border-radius: 100px;
	border-top-left-radius: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 0.5px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
.blog .box-text a:hover {
	background: #00b7d5;
}
.blog a#loadMore {
	margin: 50px auto 0;
	display: table;
	float: none;
	background: #00b7d5;
}
.blog a#loadMore:hover {
	background: #999999;
}
.blog .match {
	background: none;
}
.accordian-main .accordion_container {
	width: 100%;
}
.accordian-main .accordian-two {
	margin: 80px 0 0 0;
}
.accordian-main .accordion_head, .accordian-main .accordion_head_2 {
	position: relative;
	color: #666666;
	cursor: pointer;
	font-size: 23px;
	padding: 25px 0;
	font-weight: 500;
	text-transform: inherit;
}
.accordian-content {
	border-bottom: 1px solid #ccc;
}
.accordian-main .accordion_body p, .accordian-main .accordion_body_2 p {
	color: #666666;
	padding: 0;
	font-weight: 400;
	font-size: 19px;
	background: url(../images/bulit.png) no-repeat top left;
	background-position: 0 8px;
	margin: 0 0 30px;
}
.accordian-main .plusminus {
	position: absolute;
	padding: 0 0 0 1px;
	line-height: 25px;
	font-size: 30px;
	right: 0;
	border-radius: 50px;
	border: 1px solid #00b7d5;
	text-align: center;
	font-weight: 400;
	width: 30px;
	height: 30px;
	color: #00b7d5;
	top: 28px;
	display: flex;
	justify-content: center;
}
.accordian-main {
	padding: 100px 0;
}
.accordian-main h1 {
	font-size: 50px;
	text-transform: capitalize;
	margin: 0 0 10px;
}
.accordian-main .accordian-top-p {
	font-weight: 500;
	font-size: 20px;
	color: #01b7d5;
}
.accordian-main .accordion_head p, .accordian-main .accordion_head_2 p {
	margin: 0;
	padding: 0 50px 0 0;
}
.pricing {
	padding: 100px 0;
}
.pricing h1 {
	font-size: 55px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.pricing p {
	font-size: 18px;
	color: #666666;
}
.price-tag h3 {
	font-size: 30px;
	color: #fff;
	margin: -5px 0 0;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	line-height: 15px;
}
.price-box {
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06) !important;
	border-radius: 20px;
	padding: 15px 45px 50px 25px;
	background: url(../images/bg-grey.png);
	background-repeat: no-repeat;
	background-position: top left;
	margin: 50px 0 0;
	transition-duration: .5s;
	width: 100%;
}
.price-box:hover {
	margin: 20px 0 0;
	background: url(../images/bg-blue.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.price-tag h3 span {
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	font-family: 'Barlow', sans-serif;
	padding: 0;
}
.price-tag h2 {
	color: #fff;
	font-size: 60px;
	letter-spacing: 3px;
	margin: 0;
}
.price-list ul {
	padding: 0;
	margin: 80px 0 0;
	list-style: none;
}
.price-list ul li {
	font-size: 15px;
	color: #999999;
	font-weight: 500;
	font-family: 'Barlow', sans-serif;
	padding: 5px 0 5px 21px;
	display: block;
	position: relative;
}
.price-list ul li.check::before {
	content: '\f00c';
	font-family: FontAwesome;
	font-size: 15px;
	color: #01b7d5;
	margin: 0 10px 0 0;
	width: 15px;
	position: absolute;
	left: 0;
}
.price-list ul li.cross::before {
	content: '\f00d';
	font-family: FontAwesome;
	font-size: 15px;
	color: #999999;
	margin: 0 10px 0 0;
	width: 15px;
}
.price-list a {
	padding: 15px 0px;
	font-size: 16px;
	width: 230px;
	color: #fff;
	background: #00b7d5;
	border-radius: 100px;
	border-top-left-radius: 1px;
	text-align: center;
	display: table;
	margin: 50px auto 0;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	font-weight: 600;
	font-family: 'Barlow', sans-serif;
}
.price-list a:hover {
	background: #999999;
}
.blog-detail .mission-vision p span {
	color: #01b7d5;
	font-weight: 600;
}
.price-tag h2 span {
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	font-family: 'Barlow', sans-serif;
	padding: 0;
	letter-spacing: 0;
	;
}
.blog-detail .mission-vision ul li {
	color: #666666;
	font-size: 18px;
af  font-weight:400;
	font-family: 'Barlow', sans-serif;
}
.video-sec video {
	border-radius: 40px;
	box-shadow: 0px 0 10px 0 rgb(0, 0, 0, 0.1);
}
video:focus {
	outline: 0;
}
#fade {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
#light {
	right: 0;
	display: none;
	position: absolute;
	top: 20%;
	left: 0;
	margin: 0 50px;
	z-index: 1002;
	overflow: visible;
	max-width: 1050px;
	padding: 0 0;
}
#boxclose {
	float: right;
	cursor: pointer;
	color: #333;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
	padding: 10px 0;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1002;
}
.boxclose:before {
	content: "";
}
#fade:hover ~ #boxclose {
	display: none;
}
 input[type=number]::-webkit-outer-spin-button,  input[type=number]::-webkit-inner-spin-button {
-webkit-appearance:none !important;
margin:0;
}
input[type=number] {
	-moz-appearance: textfield !important;
}
.video-sec img {
	width: 100%;
	box-shadow: 0px 0 15px 0 rgb(0, 183, 213, 0.3);
	border-radius: 50px;
}


.main-top-banner .logo-g {
    display: none;
}

.main-top-banner.sticky .logo-w {
    display: none;
}

.main-top-banner.sticky .logo-g {
    display: block;
}